# Firebase configuration
VITE_FIREBASE_API_KEY="AIzaSyD7t9zcDLq7ibLsX2ZP7F5Md2Cl609LPgg"
VITE_FIREBASE_AUTH_DOMAIN="lhbs-uds.firebaseapp.com"
VITE_FIREBASE_DATABASE_URL="https://lhbs-uds-default-rtdb.firebaseio.com"
VITE_FIREBASE_PROJECT_ID="lhbs-uds"
VITE_FIREBASE_STORAGE_BUCKET="lhbs-uds.firebasestorage.app"
VITE_FIREBASE_MESSAGING_SENDER_ID="1058227638387"
VITE_FIREBASE_APP_ID="1:1058227638387:web:44c56889f99baf8e12da06"
